DISCORD_TOKEN=seu_token_do_discord
GOOGLE_SHEET_NAME=Database-GEL-Teste
GOOGLE_CREDENTIALS_JSON={"type":"service_account","project_id":"..."}
GOOGLE_CREDENTIALS_BASE64={"type":"service_account","project_id":"..."}
